<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <h4>RAISE</h4>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
        <base-card-title>
            <h2 class="mdl-card__title-text">¿Quienes somos?</h2>
        </base-card-title>
        <base-card-body>
            RAISE es la mejor plataforma de servicio mecánico para tu vehículo, que ha revolucionado la industria del taller mecánico aprovechando las herramientas tecnologicas, para que nuestros usuarios puedan hacer seguimiento al estado de reparación de su vehículo.
        </base-card-body>
    </base-card>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
        <base-card-title>
            <h2 class="mdl-card__title-text">¿Que ofrecemos?</h2>
        </base-card-title>
        <base-card-body>
            <b>Precio Justo:</b> Te ofrecemos la transparencia de diferentes cotizaciones para los trabajos urgentes y necesarios para tu vehículo.
            <br>
            <b>Servicio de Calidad y Confianza:</b> El 85% de nuestros clientes nos califican con 5 estrellas de satisfacción.
            <br>
            <b>Opciones de Respuestos:</b> Te ofrecemos tres opciones de repuestos para tu elección: Originales, OEM y Homologados.
            <br>
            <b>Procesos transparentes:</b> Te notificamos sobre todos los procesos realizados y los trabajos no serán realizados sin tu aprobación.
        </base-card-body>
    </base-card>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
        <base-card-title>
            <h2 class="mdl-card__title-text">Nuestra misión</h2>
        </base-card-title>
        <base-card-body>
            <b>Generar oportunidades a los habitantes de las ciudades a través de una movilidad asequible y confiable; conectando y organizando el mundo de las reparaciones.</b>
            <br> Movilidad es mucho más que reducir tiempos de transporte. La rapidez y el costo de llegar a un lugar determina el acceso a oportunidades de trabajo, estudios y otras para los habitantes urbanos. Entonces la movilidad no es una cuestión
            de comodidad, si no de calidad de vida.
        </base-card-body>
    </base-card>
</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
        <base-card-title>
            <h2 class="mdl-card__title-text">Nuestra visión</h2>
        </base-card-title>
        <base-card-body>
            <b>Preparar, coordinar y habilitar a talleres y proveedores de partes para atender a los clientes de manera confiable y asequible por medio de tecnología, data y procesos eficientes.</b>
            <br> El mundo de reparaciones es complejo y difícil de navegar. La calidad de servicios y partes es muy variable entre los múltiples proveedores y talleres. Nosotros creemos que la tecnología puede ser el facilitador que permite crear un servicio
            confiable y asequible apoyándose en los mejores talleres y proveedores.
        </base-card-body>
    </base-card>
</div>